
.selected-heroes{
  padding-top:10vh;
}
mat-card {
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }



  a {
    i {
      position: relative;
      top: -1px;
      left: -3px;
    }
  }
}

/*=============================*\
|         Hero Selection        |
\*=============================*/

.hero-select {

    display: grid;
    grid-template-columns: 27% 20.3% 20.4% 17%;
    grid-column-gap: 3.65%;
    padding-left: 5.5%;
}

.role {
    display: flex;
    margin-top: 2.5vh;
}
.role .icon  {
    position: absolute;
    box-shadow: 0 0 0 0.15vh rgba(255,255,255,0.5);
    border-radius: 100%;
    height: 3.4vh;
    width: 3.4vh;
    transform: translate(-4.6vh, 1.2vh);
    fill: #fff;
}
.role .icon svg {
    position: absolute;
    top: 0;
    right: 0;
}
.role .icon:hover {
    box-shadow: 0 0 0 0.3vh rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.4);
}
.role .icon:hover::before {
    content: "";
    position: relative;
    display: block;
    bottom: 2.9vh;
    left: 3.2vh;
    width: 1.1vh;
    height: 2.2vh;
    border-top: 0.2vh solid #fff;
    border-left: 0.2vh solid #fff;
    border-top-left-radius: 80% 40%;
    transform: skewX(-30deg) rotate(-10deg);
}
.role .icon:hover::after {
    position: relative;
    font-family: Asap;
    font-weight: 400;
    font-size: 1.85vh;
    color: #fff;
    bottom: 6.3vh;
    left: 5.2vh;
}

.role[role=offense] .icon:hover::after { content: "OFFENSE"; }
.role[role=defense] .icon:hover::after { content: "DEFENSE"; }
.role[role=tank] .icon:hover::after { content: "TANK"; }
.role[role=support] .icon:hover::after { content: "SUPPORT"; }

.option {
    width: 4.75vh;
    height: 7vh;
    margin-right: 0.76vh;
    transform: skewX(-15deg);
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    transform-origin: bottom left;
    border-radius: 10%;
    box-shadow: 0 0.2vh 0 0 #fff, 0 -0.4vh 0 0 #fff;
    transition: 0.1s;
}

.option img {
    position: relative;
    height: 100%;
    transform: skewX(15deg);
    transform-origin: bottom left;
}

.option:hover {
    transform: scale(1.1) skewX(-15deg) translate(-0.25vh, 0.25vh);
    box-shadow: 0 0 0.02vh 0.4vh #fff;
    transition: none;

}


/*=============================*\
|         Confirm Button        |
\*=============================*/

.confirm-btn {
    grid-area: confirm-btn;
    display: flex;
    justify-content: center;
}

.confirm-btn button {
    height: 51%;
    margin-top: 1vh;
    border: none;
    background: rgba(231,166,59,0.8);
    border-radius: 0.3vh;
}

.confirm-btn button span {
    display: block;
    color: #fff;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 3vh;
    display: block;
    letter-spacing: 0.1vh;
    transform: scaleX(0.9);
    padding: 0 3vh;
}

.confirm-btn button:hover {
    background: rgba(231,166,59,0.5);
    box-shadow: 0 0 0.2vh 0.2vh #fff, inset 0 0 0.1vh 0.1vh #fff;
}
